.sidebarLeft {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  border: 1px solid black;
  margin-right: 10px;
  background-color: white;
}

.sidebarLeft__user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
